In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Blazers\blazers_dataset.csv')

In [3]:
df_1.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,blazers,17464542,H&M,women-clothing,Women Black Fitted Jacket,4.4,951Ratings,MRP₹ 2299,MRP,NaN,"['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', '3XL']",Fitted jacket in woven fabric with notch lapel...,blazers_women-clothing_17464542.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Closure': 'Button', 'Collar': 'Notched Lapel...","{'5': '645', '4': '176', '3': '62', '2': '27',..."
1,2,blazers,24970972,Allen Solly Woman,women-clothing,Notched Lapel Collar Single-Breasted Formal Bl...,4.3,643Ratings,₹3959,MRP₹3999,(1% OFF),NaN,"Black solid regular-fit formal blazer, has a n...",blazers_women-clothing_24970972.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Closure': 'Button', 'Collar': 'Notched Lapel...","{'5': '421', '4': '113', '3': '29', '2': '21',..."
2,3,blazers,26893598,Arrow,men-clothing,Notched Lapel Long Sleeves Slim-Fit Single Bre...,4.2,161Ratings,₹4879,MRP₹7999,(39% OFF),"['36', '38', '40', '42', '44', '46']","Black solid slim-fit formal blazer, has a notc...",blazers_men-clothing_26893598.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Closure': 'Button', 'Collar': 'Notched Lapel...","{'5': '98', '4': '29', '3': '11', '2': '9', '1..."
3,4,blazers,28844176,MANGO,women-clothing,Pure Linen Smart Casual Blazer,4.1,37Ratings,MRP₹ 6790,MRP,NaN,"['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL']","Blue solid smart casual blazer, has a peaked l...",blazers_women-clothing_28844176.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Closure': 'Button', 'Collar': 'Peaked Lapel'...","{'5': '26', '4': '2', '3': '1', '2': '2', '1':..."
4,5,blazers,28774520,MANGO,women-clothing,Smart Casual Linen Notched Lapel Single-Breast...,4.0,43Ratings,₹4549,MRP₹6790,(33% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL']","The solid blazers for women, has notched lapel...",blazers_women-clothing_28774520.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Closure': 'Button', 'Collar': 'Notched Lapel...","{'5': '30', '4': '2', '3': '1', '2': '3', '1':..."

In [4]:
df_2 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Formal Shirts\Formal Shirts_dataset.csv')

In [5]:
df_2.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Formal Shirts,19761198.0,Style Quotient,women-clothing,Women White Formal Shirt,4.2,9.3kRatings,₹614,MRP₹1499,(59% OFF),NaN,"White solid opaque foraml shirt ,has a spread ...",Formal Shirts_women-clothing_19761198.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Collar': 'S...","{'5': '5284', '4': '2164', '3': '920', '2': '3..."
1,2,Formal Shirts,15193816.0,H&M,men-clothing,Men White Slim Fit Easy-Iron Shirt,4.3,6.4kRatings,MRP₹ 1499,MRP,NaN,"['36', '38', '40', '42', '44', '46']",Shirt in woven fabric with an easy-iron finish...,Formal Shirts_men-clothing_15193816.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Collar': 'S...","{'5': '4211', '4': '1159', '3': '368', '2': '1..."
2,3,Formal Shirts,25120374.0,Chemistry,women-clothing,Women Standard Opaque Formal Shirt,4.3,2.2kRatings,₹683,MRP₹1799,(62% OFF),"['S', 'M', 'L', 'XL', 'XXL']","Nude-coloured solid opaque Formal shirt ,has a...",Formal Shirts_women-clothing_25120374.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Collar': 'C...","{'5': '1357', '4': '445', '3': '146', '2': '72..."
3,4,Formal Shirts,23960226.0,Chemistry,women-clothing,Women Relaxed Opaque Striped Formal Shirt,4.4,1.3kRatings,₹662,MRP₹1699,(61% OFF),"['XS', 'S', 'M', 'L', 'XL']","Brown vertical striped opaque Casual shirt ,ha...",Formal Shirts_women-clothing_23960226.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Short Sleeves', 'Collar': '...","{'5': '855', '4': '280', '3': '100', '2': '29'..."
4,5,Formal Shirts,30144470.0,H&M,men-clothing,Slim Fit Easy-Iron Shirt,4.5,27Ratings,MRP₹ 1499,MRP,NaN,"['36', '38', '40', '42', '44', '46']",Shirt in woven fabric with an easy-iron finish...,Formal Shirts_men-clothing_30144470.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Collar': 'S...","{'5': '19', '4': '5', '3': '1', '2': '1', '1':..."

In [6]:
df_3 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Formal Shoes\Formal shoes_dataset.csv')

In [7]:
df_3.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Formal shoes,27685222.0,Red Tape,men-footwear,Men Leather Formal Derbys,4.5,122Ratings,₹1519,MRP₹7599,(80% OFF),"['6', '7', '8', '9', '10']",A pair of black solid round-toe formal derbys ...,Formal shoes_men-footwear_27685222.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Derbys', 'Fastening': 'Lace-Ups', 'T...","{'5': '89', '4': '21', '3': '4', '2': '1', '1'..."
1,2,Formal shoes,27928092.0,Arrow,men-footwear,Men Gail 2.0 Leather Derbys,4.8,17Ratings,₹2649,MRP₹5299,(50% OFF),NaN,A pair of black solid round-toed derbys with r...,Formal shoes_men-footwear_27928092.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Derbys', 'Fastening': 'Lace-Ups', 'T...","{'5': '13', '4': '4', '3': '', '2': '', '1': ''}"
2,3,Formal shoes,27928090.0,Arrow,men-footwear,Men Walsh 2.0 Leather Oxfords,4.2,31Ratings,₹3629,MRP₹6599,(45% OFF),"['7', '8', '9', '10', '11']",A pair of black solid round-toe oxfords with r...,Formal shoes_men-footwear_27928090.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Oxfords', 'Fastening': 'Slip-On', 'T...","{'5': '20', '4': '6', '3': '', '2': '', '1': '5'}"
3,4,Formal shoes,16877476.0,Louis Philippe,men-footwear,Men Black Solid Leather Formal Derbys,4.4,3.6kRatings,₹2599,MRP₹3999,(35% OFF),"['6', '7', '8', '9', '10', '11']",A pair of black solid square-toe solid formal ...,Formal shoes_men-footwear_16877476.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Derbys', 'Fastening': 'Lace-Ups', 'T...","{'5': '2339', '4': '815', '3': '193', '2': '74..."
4,5,Formal shoes,25065758.0,HERE&NOW,men-footwear,Men Black Formal Penny Loafers,4.0,1.4kRatings,₹685,MRP₹3265,(79% OFF),"['6', '7', '8', '9', '10']",A pair of black solid round-toe formal loafers...,Formal shoes_men-footwear_25065758.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Loafers', 'Fastening': 'Slip-On', 'T...","{'5': '772', '4': '291', '3': '133', '2': '57'..."

In [8]:
df_4 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Flats\Flats_dataset.csv')

In [9]:
df_4.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Flats,26968472.0,El Paso,women-footwear,Buckles Open Toe Flats,3.8,1.3kRatings,₹608,MRP₹2899,(79% OFF),"['36', '37', '38', '39', '40', '41']",A pair of camel brown open toe flatsUpper Mate...,Flats_women-footwear_26968472.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Open Toe Flats', 'Toe Shape': 'Open ...","{'5': '632', '4': '248', '3': '157', '2': '55'..."
1,2,Flats,29533704.0,Puma,women-footwear,Women Adelina Knit Ballerinas,4.0,147Ratings,₹1484,MRP₹4499,(67% OFF),NaN,Upper Material: FabricSole material: RubberWip...,Flats_women-footwear_29533704.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Ballerinas', 'Toe Shape': 'Round Toe...","{'5': '85', '4': '27', '3': '11', '2': '5', '1..."
2,3,Flats,28885610.0,Mast & Harbour,women-footwear,Open Toe Flats with Buckles,3.9,1kRatings,₹639,MRP₹1999,(68% OFF),"['36', '37', '38', '39', '40', '41']",A pair of off white open toe flats & BucklesUp...,Flats_women-footwear_28885610.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Open Toe Flats', 'Toe Shape': 'Open ...","{'5': '497', '4': '220', '3': '122', '2': '56'..."
3,4,Flats,25245810.0,DressBerry,women-footwear,Beige Woven Design Open Toe Flats,4.3,2kRatings,₹526,MRP₹1699,(69% OFF),"['36', '37', '38', '39', '40']",A pair of beige open toe flatsUpper Material: ...,Flats_women-footwear_25245810.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Open Toe Flats', 'Toe Shape': 'Open ...","{'5': '1257', '4': '385', '3': '170', '2': '65..."
4,5,Flats,29528190.0,DressBerry,women-footwear,Beige Textured Open Toe Flats,4.0,425Ratings,₹749,MRP₹2499,(70% OFF),"['36', '37', '38', '39', '40', '41']",A pair of beige open toe flatsUpper Material: ...,Flats_women-footwear_29528190.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Open Toe Flats', 'Toe Shape': 'Open ...","{'5': '225', '4': '84', '3': '45', '2': '20', ..."

In [10]:
df_5 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Formal Shoes\Formal shoes_dataset.csv')

In [11]:
df_5.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Formal shoes,27685222.0,Red Tape,men-footwear,Men Leather Formal Derbys,4.5,122Ratings,₹1519,MRP₹7599,(80% OFF),"['6', '7', '8', '9', '10']",A pair of black solid round-toe formal derbys ...,Formal shoes_men-footwear_27685222.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Derbys', 'Fastening': 'Lace-Ups', 'T...","{'5': '89', '4': '21', '3': '4', '2': '1', '1'..."
1,2,Formal shoes,27928092.0,Arrow,men-footwear,Men Gail 2.0 Leather Derbys,4.8,17Ratings,₹2649,MRP₹5299,(50% OFF),NaN,A pair of black solid round-toed derbys with r...,Formal shoes_men-footwear_27928092.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Derbys', 'Fastening': 'Lace-Ups', 'T...","{'5': '13', '4': '4', '3': '', '2': '', '1': ''}"
2,3,Formal shoes,27928090.0,Arrow,men-footwear,Men Walsh 2.0 Leather Oxfords,4.2,31Ratings,₹3629,MRP₹6599,(45% OFF),"['7', '8', '9', '10', '11']",A pair of black solid round-toe oxfords with r...,Formal shoes_men-footwear_27928090.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Oxfords', 'Fastening': 'Slip-On', 'T...","{'5': '20', '4': '6', '3': '', '2': '', '1': '5'}"
3,4,Formal shoes,16877476.0,Louis Philippe,men-footwear,Men Black Solid Leather Formal Derbys,4.4,3.6kRatings,₹2599,MRP₹3999,(35% OFF),"['6', '7', '8', '9', '10', '11']",A pair of black solid square-toe solid formal ...,Formal shoes_men-footwear_16877476.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Derbys', 'Fastening': 'Lace-Ups', 'T...","{'5': '2339', '4': '815', '3': '193', '2': '74..."
4,5,Formal shoes,25065758.0,HERE&NOW,men-footwear,Men Black Formal Penny Loafers,4.0,1.4kRatings,₹685,MRP₹3265,(79% OFF),"['6', '7', '8', '9', '10']",A pair of black solid round-toe formal loafers...,Formal shoes_men-footwear_25065758.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Loafers', 'Fastening': 'Slip-On', 'T...","{'5': '772', '4': '291', '3': '133', '2': '57'..."

In [12]:
df_6 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Jeans\Jeans_dataset.csv')

In [13]:
df_6.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Jeans,9162845,HIGHLANDER,men-clothing,Men Black Tapered Fit Mid-Rise Clean Look Stre...,3.9,128.7kRatings,₹428,MRP₹1299,(67% OFF),"['30', '32', '34', '36', '38']","Black dark wash 5-pocket mid-rise jeans, clean...",Jeans_men-clothing_9162845.jpg,C:/AIDS/STEP-2/Jeans/men-clothing\Jeans_men-cl...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Distress': 'Clean Look', 'Waist Rise': 'Mid-...","{'5': '62490', '4': '27745', '3': '14589', '2'..."
1,2,Jeans,30155139,H&M,women-clothing,Women Flared Low Jeans,4.1,96Ratings,MRP₹ 1299,MRP,NaN,"['24', '26', '27', '29', '31', '32', '34', '36']",Jeans in denim with a slight stretch for good ...,Jeans_women-clothing_30155139.jpg,C:/AIDS/STEP-2/Jeans/women-clothing\Jeans_wome...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Distress': 'Mildly Distressed', 'Waist Rise'...","{'5': '61', '4': '16', '3': '1', '2': '7', '1'..."
2,3,Jeans,25917818,Jack & Jones,men-clothing,Men Bootcut Mid-Rise Clean Look Stretchable Jeans,4.2,548Ratings,₹1124,MRP₹2499,(55% OFF),"['28', '30', '32', '34', '36', '38']",Fit: BootcutStretchableThe model (height 6') i...,Jeans_men-clothing_25917818.jpg,C:/AIDS/STEP-2/Jeans/men-clothing\Jeans_men-cl...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Distress': 'Clean Look', 'Waist Rise': 'Mid-...","{'5': '354', '4': '92', '3': '30', '2': '13', ..."
3,4,Jeans,30336652,H&M,women-clothing,Women Wide High Light Fade Stretchable Cotton ...,3.9,82Ratings,MRP₹ 2299,MRP,NaN,"['24', '26', '27', '29', '31', '32', '34', '36']",5-pocket jeans in washed cotton denim with a h...,Jeans_women-clothing_30336652.jpg,C:/AIDS/STEP-2/Jeans/women-clothing\Jeans_wome...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Distress': 'Clean Look', 'Waist Rise': 'High...","{'5': '45', '4': '15', '3': '4', '2': '3', '1'..."
4,5,Jeans,15193862,H&M,men-clothing,Men Black Regular Jeans,4.3,18.5kRatings,MRP₹ 1799,MRP,NaN,"['28', '29', '30', '31', '32', '33', '34', '36...",5-pocket jeans in stretch cotton denim with a ...,Jeans_men-clothing_15193862.jpg,C:/AIDS/STEP-2/Jeans/men-clothing\Jeans_men-cl...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Distress': 'Clean Look', 'Waist Rise': 'Mid-...","{'5': '12130', '4': '3537', '3': '1077', '2': ..."

In [14]:
df_7 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Kurtas\Kurtas_dataset.csv')

In [15]:
df_7.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Kurtas,29102908,Jompers,men-clothing,Ethnic Motifs Embroidered Sequinned Mandarin C...,4.2,432Ratings,₹987,MRP₹3950,(75% OFF),"['S', 'M', 'L', 'XL', 'XXL']",The model (height 6') is wearing a size M,Kurtas_men-clothing_29102908.jpg,D:/College/Sem 2/Step presentation/Trendix/Kur...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Shape': 'St...","{'5': '255', '4': '93', '3': '34', '2': '22', ..."
1,2,Kurtas,28932986,Jompers,men-clothing,Ethnic Motifs Embroidered Mandarin Collar Stra...,4.2,348Ratings,₹935,MRP₹5199,(82% OFF),"['S', 'M', 'L', 'XL', 'XXL']",The model (height 6') is wearing a size M,Kurtas_men-clothing_28932986.jpg,D:/College/Sem 2/Step presentation/Trendix/Kur...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Shape': 'St...","{'5': '215', '4': '67', '3': '29', '2': '11', ..."
2,3,Kurtas,24097432,HERE&NOW,men-clothing,Men Ethnic Motifs Embroidered Chikankari Kurta,4.3,4.2kRatings,₹999,MRP₹3999,(75% OFF),"['S', 'M', 'L', 'XL', 'XXL', '3XL']","Size worn by the model: MChest: 36""Height: 5'11""",Kurtas_men-clothing_24097432.jpg,D:/College/Sem 2/Step presentation/Trendix/Kur...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Shape': 'St...","{'5': '2687', '4': '901', '3': '250', '2': '10..."
3,4,Kurtas,21334320,anayna,women-clothing,Women A-Line Kurta with Jacket,4.5,4.3kRatings,₹855,MRP₹2850,(70% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL', '3XL']",The model (height 5'8) is wearing a size S,Kurtas_women-clothing_21334320.jpg,D:/College/Sem 2/Step presentation/Trendix/Kur...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Sleeveless', 'Shape': 'A-Li...","{'5': '2934', '4': '902', '3': '237', '2': '83..."
4,5,Kurtas,23055444,Anouk,women-clothing,Women Floral Printed Kurta,3.8,3kRatings,₹588,MRP₹1899,(69% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL', '3XL', '4XL']","Size worn by the model: SChest: 34""Height: 5'9""",Kurtas_women-clothing_23055444.jpg,D:/College/Sem 2/Step presentation/Trendix/Kur...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Short Sleeves', 'Shape': 'S...","{'5': '1432', '4': '636', '3': '346', '2': '19..."

In [16]:
df_8 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Shorts\Shorts_dataset.csv')

In [17]:
df_8.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Shorts,30282722.0,StyleCast,men-clothing,Men Regular Fit Cargo Shorts,1.6,88Ratings,₹1199,MRP₹2999,(Rs. 1800 OFF),"['30', '32', '34', '36']","Black solid mid-rise cargo shorts, has 4 pocke...",Shorts_men-clothing_30282722.jpg,C:/Users/DELL/Downloads/Trendix/Final DatasetS...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'Mid-Rise', 'Length': 'Knee Len...","{'5': '9', '4': '2', '3': '4', '2': '7', '1': ..."
1,2,Shorts,26064370.0,The Souled Store,men-clothing,Men Camouflage Printed Pure Cotton Cargo Shorts,4.2,223Ratings,₹1007,MRP₹1599,(37% OFF),"['28', '30', '32', '34', '36', '38']",Black & grey camouflage printed mid-rise cargo...,Shorts_men-clothing_26064370.jpg,C:/Users/DELL/Downloads/Trendix/Final DatasetS...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'Mid-Rise', 'Length': 'Knee Len...","{'5': '130', '4': '51', '3': '18', '2': '8', '..."
2,3,Shorts,2292046.0,Roadster,men-clothing,Men Beige Solid Regular Fit Chino Shorts,4.2,7.8kRatings,₹519,MRP₹1299,(60% OFF),"['28', '30', '32', '34', '36']","Beige solid mid-rise chino shorts, has 1 pocke...",Shorts_men-clothing_2292046.jpg,C:/Users/DELL/Downloads/Trendix/Final DatasetS...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'Mid-Rise', 'Length': 'Above Kn...","{'5': '4340', '4': '1873', '3': '765', '2': '2..."
3,4,Shorts,27725914.0,H&M,men-clothing,Men Regular Fit Sweatshorts,4.2,867Ratings,MRP₹ 799,MRP,NaN,"['29', '32', '35', '39', '42', '46']",Shorts in lightweight sweatshirt fabric made f...,Shorts_men-clothing_27725914.jpg,C:/Users/DELL/Downloads/Trendix/Final DatasetS...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'Mid-Rise', 'Length': 'Above Kn...","{'5': '550', '4': '139', '3': '70', '2': '22',..."
4,5,Shorts,29983707.0,HRX by Hrithik Roshan,men-clothing,Men Running Sports Shorts,4.4,37Ratings,₹849,MRP₹1699,(50% OFF),"['28', '30', '32', '34', '36']","Black solid mid-rise running sports shorts, h...",Shorts_men-clothing_29983707.jpg,C:/Users/DELL/Downloads/Trendix/Final DatasetS...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'Mid-Rise', 'Length': 'Above Kn...","{'5': '22', '4': '12', '3': '', '2': '1', '1':..."

In [18]:
df_9 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Sneakers\sneakers_dataset.csv')

In [19]:
df_9.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,sneakers,15386906.0,Nike,men-footwear,Men Court Royale Sneakers,4.3,5.6kRatings,₹1999,MRP₹4495,(Rs. 2496 OFF),"['6', '7', '8', '9', '10', '11']","A pair of round toe white sneakers ,has regula...",sneakers_men-footwear_15386906.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Sneakers', 'Toe Shape': 'Round Toe',...","{'5': '3720', '4': '1014', '3': '303', '2': '1..."
1,2,sneakers,1110317.0,Nike,men-footwear,Men Court Royale Sneakers,4.3,2.7kRatings,₹1999,MRP₹4495,(Rs. 2496 OFF),"['5.5', '6', '7', '8', '9', '10', '11', '12']",A pair of black casual shoes with central lace...,sneakers_men-footwear_1110317.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Sneakers', 'Toe Shape': 'Round Toe',...","{'5': '1685', '4': '517', '3': '174', '2': '75..."
2,3,sneakers,23186574.0,Nike,men-footwear,SB Alleyoop Skate Shoes,4.5,762Ratings,₹4546,MRP₹6495,(30% OFF),"['5.5', '6', '7', '8', '9', '10', '11', '12']","PUWipe with a clean, dry cloth to remove dust",sneakers_men-footwear_23186574.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Sneakers', 'Toe Shape': 'Round Toe',...","{'5': '574', '4': '110', '3': '29', '2': '7', ..."
3,4,sneakers,23869882.0,Red Tape,men-footwear,Men Perforated Slip Resistant Lace-Up Sneakers,4.4,17.4kRatings,₹971,MRP₹5399,(82% OFF),"['6', '7', '8', '9', '10']",PUWipe with a clean and dry cloth to remove dust,sneakers_men-footwear_23869882.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Sneakers', 'Toe Shape': 'Round Toe',...","{'5': '11286', '4': '3648', '3': '1014', '2': ..."
4,5,sneakers,29922402.0,Nike,men-footwear,Air Jordan 1 Low Men's Shoes,4.8,145Ratings,MRP₹ 8995,MRP,NaN,"['6', '7', '8', '9', '10', '11']","Inspired by the original that debuted in 1985,...",sneakers_men-footwear_29922402.jpg,C:/Users/harsh/OneDrive/Desktop/AI & DS/Step 2...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Type': 'Sneakers', 'Toe Shape': 'Round Toe',...","{'5': '133', '4': '8', '3': '', '2': '1', '1':..."

In [20]:
df_10 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Sports Shoes\Sports Shoes_dataset.csv')

In [21]:
df_10.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Sports Shoes,29870716,Nike,men-footwear,Revolution 6 Men's Road Running Shoes,4.5,238Ratings,₹1999,MRP₹3695,(Rs. 1696 OFF),"['6', '7', '8', '9', '10', '11']",Here's to new beginnings between you and the p...,Sports Shoes_men-footwear_29870716.jpg,C:/AIDS/STEP-2/Sports Shoes/men-footwear\Sport...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sport': 'Running', 'Material': 'PU', 'Fasten...","{'5': '176', '4': '29', '3': '14', '2': '8', '..."
1,2,Sports Shoes,25921930,Skechers,men-footwear,Men Textured Go Run Consistent Running & Train...,4.5,1.6kRatings,₹3849,MRP₹5499,(30% OFF),"['6', '7', '8', '9', '10', '11']",Upper Material: MeshOutsole Material: RubberWi...,Sports Shoes_men-footwear_25921930.jpg,C:/AIDS/STEP-2/Sports Shoes/men-footwear\Sport...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sport': 'Running', 'Material': 'Mesh', 'Fast...","{'5': '1155', '4': '281', '3': '71', '2': '25'..."
2,3,Sports Shoes,23719678,Nike,men-footwear,Men Winflo 10 Road Running Shoes,4.2,1.2kRatings,₹3912,MRP₹8695,(55% OFF),"['6', '7', '8', '9', '10', '11', '12']","TextileWipe with a clean, dry cloth to remove ...",Sports Shoes_men-footwear_23719678.jpg,C:/AIDS/STEP-2/Sports Shoes/men-footwear\Sport...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sport': 'Running', 'Material': 'Leather', 'F...","{'5': '772', '4': '172', '3': '60', '2': '19',..."
3,4,Sports Shoes,23719706,Nike,men-footwear,Men Winflo 10 Road Running Shoes,4.2,1.2kRatings,₹3912,MRP₹8695,(55% OFF),"['6', '7', '8', '9', '10', '11', '12']",MeshWipe with a clean and dry cloth to remove ...,Sports Shoes_men-footwear_23719706.jpg,C:/AIDS/STEP-2/Sports Shoes/men-footwear\Sport...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sport': 'Running', 'Material': 'Mesh', 'Fast...","{'5': '769', '4': '171', '3': '60', '2': '18',..."
4,5,Sports Shoes,16274106,Nike,men-footwear,Men Solid Revolution 6 Next Nature Road Runnin...,4.3,6kRatings,₹1999,MRP₹3695,(Rs. 1696 OFF),"['6', '7', '8', '9', '10', '11', '12']","Upper material: MeshWipe with a clean, dry clo...",Sports Shoes_men-footwear_16274106.jpg,C:/AIDS/STEP-2/Sports Shoes/men-footwear\Sport...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sport': 'Running', 'Material': 'Mesh', 'Fast...","{'5': '3822', '4': '1140', '3': '340', '2': '1..."

In [22]:
df_11 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Suits\suits_dataset.csv')

In [23]:
df_11.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,suits,27950524,Sangria,women-clothing,Embroidered Boat-Neck Kurta With Trousers & Du...,4.1,1.8kRatings,₹2194,MRP₹6649,(67% OFF),"['S', 'M', 'L', 'XL', 'XXL', '3XL']","This kurta set consists of kurta, trousers and...",suits_women-clothing_27950524.jpg,C:\Users\Yubraj\data scrapping\suits\women-clo...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Three-Quarter Sleeves', 'To...","{'5': '1041', '4': '329', '3': '128', '2': '80..."
1,2,suits,30679173,GoSriKi,women-clothing,Bandhani Printed Round Neck Straight Kurta Wit...,4.1,362Ratings,₹999,MRP₹4345,(77% OFF),"['S', 'M', 'L', 'XL', 'XXL']",The model (height 5'8) is wearing a size S,suits_women-clothing_30679173.jpg,C:\Users\Yubraj\data scrapping\suits\women-clo...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Three-Quarter Sleeves', 'To...","{'5': '218', '4': '59', '3': '27', '2': '18', ..."
2,3,suits,25234310,KALINI,women-clothing,Floral Printed Anarkali Pure Cotton Kurta with...,4.4,9.3kRatings,₹1049,MRP₹7299,(Rs. 6250 OFF),"['XXS', 'XS', 'S', 'M', 'L', 'XL', 'XXL', '3XL...",The model (height 5'8) is wearing a size S,suits_women-clothing_25234310.jpg,C:\Users\Yubraj\data scrapping\suits\women-clo...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Three-Quarter Sleeves', 'To...","{'5': '6073', '4': '1830', '3': '593', '2': '2..."
3,4,suits,29629130,Indo Era,women-clothing,Ethnic Motifs Embroidered Regular Thread Work ...,4.3,528Ratings,₹1999,MRP₹7999,(75% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL']",The model (height 5'8) is wearing a size S,suits_women-clothing_29629130.jpg,C:\Users\Yubraj\data scrapping\suits\women-clo...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Three-Quarter Sleeves', 'To...","{'5': '352', '4': '90', '3': '34', '2': '9', '..."
4,5,suits,24838938,Indo Era,women-clothing,Floral Embroidered Thread Work A-Line Kurta Wi...,4.3,2.9kRatings,₹1899,MRP₹5999,(Rs. 4100 OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL']",The model (height 5'8) is wearing a size S,suits_women-clothing_24838938.jpg,C:\Users\Yubraj\data scrapping\suits\women-clo...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Three-Quarter Sleeves', 'To...","{'5': '1857', '4': '549', '3': '192', '2': '99..."

In [24]:
df_12 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Sweater\sweater_dataset.csv')

In [25]:
df_12.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,sweater,15117206,Roadster,men-clothing,The Lifestyle Co Men Brown Cable Knit Hooded P...,4.2,260Ratings,₹999,MRP₹1999,(50% OFF),"['S', 'M', 'L', 'XL']","Brown cable knit pullover sweater, has a hood,...",sweater_men-clothing_15117206.jpg,C:\Users\Yubraj\data scrapping\sweater\men-clo...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Acrylic', 'Pattern': 'Self Design'...","{'5': '165', '4': '41', '3': '25', '2': '11', ..."
1,2,sweater,9479111,Roadster,women-clothing,The Lifestyle Co Women Red Solid Sweater,4.2,11.1kRatings,₹675,MRP₹1299,(48% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL']","Red solid sweater, has a V-neck, long sleeves,...",sweater_women-clothing_9479111.jpg,C:\Users\Yubraj\data scrapping\sweater\women-c...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Acrylic', 'Pattern': 'Solid', 'Sle...","{'5': '6316', '4': '2635', '3': '1128', '2': '..."
2,3,sweater,14071908,DressBerry,women-clothing,Women Red & Mustard Yellow Striped Pullover,4.3,1.7kRatings,₹849,MRP₹1699,(50% OFF),"['XS', 'S', 'M', 'L', 'XL']","Red, mustard yellow and blue striped pullover ...",sweater_women-clothing_14071908.jpg,C:\Users\Yubraj\data scrapping\sweater\women-c...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Acrylic', 'Pattern': 'Striped', 'S...","{'5': '988', '4': '381', '3': '136', '2': '52'..."
3,4,sweater,11951498,DressBerry,women-clothing,Women Black & Pink Striped Pullover,4.4,1.3kRatings,₹831,MRP₹1599,(48% OFF),"['XS', 'S', 'M', 'L', 'XL']","Black and pink striped pullover, has a turtle ...",sweater_women-clothing_11951498.jpg,C:\Users\Yubraj\data scrapping\sweater\women-c...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Acrylic', 'Pattern': 'Striped', 'S...","{'5': '827', '4': '306', '3': '100', '2': '38'..."
4,5,sweater,18259902,Mast & Harbour,women-clothing,Women Black & Rust Brown Colourblocked Pullover,4.1,250Ratings,₹935,MRP₹1799,(48% OFF),"['S', 'M', 'L', 'XL']","Black and rust brown colourblocked pullover ,h...",sweater_women-clothing_18259902.jpg,C:\Users\Yubraj\data scrapping\sweater\women-c...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Acrylic', 'Pattern': 'Colourblocke...","{'5': '147', '4': '44', '3': '16', '2': '12', ..."

In [26]:
df_13 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Sweatshirts\Sweatshirts_dataset.csv')

In [27]:
df_13.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Sweatshirts,30213534,H&M,men-clothing,Men Loose Fit Long Sleeve Sweatshirts,4.3,282Ratings,MRP₹ 799,MRP,NaN,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",Top in lightweight sweatshirt fabric made from...,Sweatshirts_men-clothing_30213534.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Neck': 'Rou...","{'5': '184', '4': '50', '3': '15', '2': '6', '..."
1,2,Sweatshirts,26542362,H&M,women-clothing,Zip-Through Hoodie,4.2,1.8kRatings,MRP₹ 1499,MRP,NaN,"['XXS', 'XS', 'S', 'M', 'L', 'XL']",Zip-through hoodie in sweatshirt fabric with a...,Sweatshirts_women-clothing_26542362.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Neck': 'Hoo...","{'5': '1147', '4': '305', '3': '125', '2': '73..."
2,3,Sweatshirts,15193748,H&M,men-clothing,Men Black Relaxed Fit Hoodie,4.4,62.5kRatings,MRP₹ 1499,MRP,NaN,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",Hoodie in sweatshirt fabric made from a cotton...,Sweatshirts_men-clothing_15193748.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Neck': 'Hoo...","{'5': '41271', '4': '11776', '3': '3857', '2':..."
3,4,Sweatshirts,27026244,H&M,men-clothing,Loose Fit Zip-Through Hoodie,4.2,7.3kRatings,MRP₹ 1499,MRP,NaN,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",Zip-through hoodie in lightweight sweatshirt f...,Sweatshirts_men-clothing_27026244.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Neck': 'Hoo...","{'5': '4295', '4': '1566', '3': '580', '2': '2..."
4,5,Sweatshirts,14180180,Puma,men-clothing,Men Black Solid Evostripe Full-Zip Slim Fit Ho...,4.5,630Ratings,₹2249,MRP₹4999,(55% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL']",The model (height 6') is wearing a size M,Sweatshirts_men-clothing_14180180.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Neck': 'Hoo...","{'5': '440', '4': '112', '3': '36', '2': '8', ..."

In [28]:
df_14 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Track Pants\Track Pants_dataset.csv')

In [29]:
df_14.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Track Pants,23291736,Bonkers Corner,women-clothing,Women Black Mid-Rise Wide Leg Track Pants,4.5,3.3kRatings,₹1039,MRP₹1599,(35% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL']",Black solid wide-leg mid-rise 320 GSM track pa...,Track Pants_women-clothing_23291736.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fit': 'Relaxed Fit', 'Fa...","{'5': '2422', '4': '522', '3': '153', '2': '65..."
1,2,Track Pants,13501940,Puma,men-clothing,Men Black Solid dryCELL ACTIVE Tricot Slim Fit...,4.0,2.8kRatings,₹1049,MRP₹2999,(65% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL']",Slim FitThe model (height 6') is wearing a size M,Track Pants_men-clothing_13501940.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Polyester', 'Fit': 'Slim Fit', 'Oc...","{'5': '1526', '4': '563', '3': '264', '2': '12..."
2,3,Track Pants,30193817,Puma,men-clothing,ESS Men Classics Logo Track Pants,4.4,242Ratings,₹1315,MRP₹2799,(53% OFF),NaN,Regular fitThe model (height 6') is wearing a ...,Track Pants_men-clothing_30193817.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fit': 'Regular Fit', 'Oc...","{'5': '168', '4': '40', '3': '11', '2': '5', '..."
3,4,Track Pants,19222946,Nike,men-clothing,Men Grey Dri-FIT Trackpants,4.2,1.2kRatings,₹1956,MRP₹2795,(30% OFF),"['S', 'M', 'L', 'XL', 'XXL']","Size worn by the model: 40Waist: 32""Hips: 36""H...",Track Pants_men-clothing_19222946.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Polyester', 'Fit': 'Regular Fit', ...","{'5': '772', '4': '232', '3': '73', '2': '40',..."
4,5,Track Pants,30491022,Puma,men-clothing,Men Ess Tr Op Logo Pants,4.2,46Ratings,₹1399,MRP₹2799,(50% OFF),"['XS', 'S', 'M', 'L', 'XL', 'XXL']",The model (height 6) is wearing a size M,Track Pants_men-clothing_30491022.jpg,C:/Users/DELL/Downloads/Trendix/Final Dataset/...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fit': 'Regular Fit', 'Fa...","{'5': '30', '4': '7', '3': '2', '2': '1', '1':..."

In [30]:
df_15 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Trousers\Trousers_dataset.csv')

In [31]:
df_15.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Trousers,25031082,Roadster,women-clothing,The Lifestyle Co. Women Solid Baggy Fit Parach...,4.0,12kRatings,₹643,MRP₹2299,(72% OFF),"['26', '27', '29', '31', '33', '35']",Black solid baggy-fit high-rise rapid-dry para...,Trousers_women-clothing_25031082.jpg,C:/AIDS/STEP-2/Trousers/women-clothing\Trouser...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'High-Rise', 'Length': 'Regular...","{'5': '6508', '4': '2216', '3': '1154', '2': '..."
1,2,Trousers,30063129,Roadster,men-clothing,The Lifestyle Co Linen Relaxed-Fit Regular Tro...,4.3,2kRatings,₹923,MRP₹2799,(67% OFF),"['28', '30', '32', '34', '36']",Cream-coloured solid relaxed-fit mid-rise regu...,Trousers_men-clothing_30063129.jpg,C:/AIDS/STEP-2/Trousers/men-clothing\Trousers_...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'Mid-Rise', 'Length': 'Regular'...","{'5': '1247', '4': '396', '3': '134', '2': '56..."
2,3,Trousers,30512028,StyleCast,men-clothing,Men Slim Fit Cargos Trousers,2.4,42Ratings,₹899,MRP₹2499,(Rs. 1600 OFF),"['28', '29', '30', '31', '32', '33', '34', '36...",Fit: Slim FitThe model (height 6') is wearing ...,Trousers_men-clothing_30512028.jpg,C:/AIDS/STEP-2/Trousers/men-clothing\Trousers_...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'Mid-Rise', 'Length': 'Regular'...","{'5': '12', '4': '2', '3': '1', '2': '4', '1':..."
3,4,Trousers,29994496,FREAKINS,women-clothing,Hazelwood Korean Baggy Pants,4.3,47Ratings,₹1819,MRP₹5199,(65% OFF),"['28', '30', '32', '34', '36']",Fit: Straight FitThe model (height 5'8) is wea...,Trousers_women-clothing_29994496.jpg,C:/AIDS/STEP-2/Trousers/women-clothing\Trouser...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'Mid-Rise', 'Length': 'Regular'...","{'5': '31', '4': '8', '3': '3', '2': '2', '1':..."
4,5,Trousers,27298024,H&M,women-clothing,Women Wide Twill Trousers,4.4,1.1kRatings,₹1199,MRP₹1499,(20% OFF),"['24', '26', '27', '29', '31', '32', '34', '36']","Trousers in cotton twill with a high waist, zi...",Trousers_women-clothing_27298024.jpg,C:/AIDS/STEP-2/Trousers/women-clothing\Trouser...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'High-Rise', 'Length': 'Regular...","{'5': '739', '4': '221', '3': '65', '2': '33',..."

In [32]:
df_16 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\T-Shirt\T-Shirt_dataset_final.csv')

In [33]:
df_16.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,T-Shirt,24314800.0,DAMENSCH,men-clothing,Solid Textured Polo T-Shirts,4.1,1.7kRatings,₹1199,MRP₹1499,(20% OFF),"['S', 'M', 'L', 'XL', 'XXL']",The model (height 6') is wearing a size M,T-Shirt_men-clothing_24314800.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fabric 2': 'Cotton', 'Fi...","{'5': '985', '4': '327', '3': '130', '2': '64'..."
1,2,T-Shirt,25072178.0,Stormborn,men-clothing,Men Graphic Printed Drop-Shoulder Sleeves Over...,4.2,4.9kRatings,₹599,MRP₹999,(40% OFF),"['S', 'M', 'L', 'XL', 'XXL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_25072178.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Pure Cotton', 'Fit': 'Oversized', ...","{'5': '2932', '4': '1025', '3': '366', '2': '1..."
2,3,T-Shirt,27226100.0,BULLMER,men-clothing,Tribal Printed Oversized Cotton T-shirt,3.8,5.2kRatings,₹389,MRP₹1499,(74% OFF),"['S', 'M', 'L', 'XL', 'XXL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_27226100.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...",{'Contact Brand or Retailer for pre-sales prod...,"{'5': '2603', '4': '937', '3': '498', '2': '29..."
3,4,T-Shirt,26858810.0,NOBERO,men-clothing,Graphic Printed Oversized T-shirt,4.3,1.1kRatings,₹413,MRP₹1799,(77% OFF),"['S', 'M', 'L', 'XL', 'XXL', '3XL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_26858810.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fit': 'Oversized', 'Leng...","{'5': '713', '4': '226', '3': '76', '2': '22',..."
4,5,T-Shirt,29350874.0,H&M,men-clothing,Men Pure Cotton Loose Fit Printed T-shirt,4.4,1kRatings,MRP₹ 799,MRP,NaN,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",T-shirt in midweight cotton jersey with a prin...,T-Shirt_men-clothing_29350874.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Pure Cotton', 'Fit': 'Relaxed Fit'...","{'5': '733', '4': '178', '3': '53', '2': '24',..."

In [34]:
df_17 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\T-Shirt\T-Shirt_dataset_1.csv')

In [35]:
df_17.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,T-Shirt,24314800.0,DAMENSCH,men-clothing,Solid Textured Polo T-Shirts,4.1,1.7kRatings,₹1199,MRP₹1499,(20% OFF),"['S', 'M', 'L', 'XL', 'XXL']",The model (height 6') is wearing a size M,T-Shirt_men-clothing_24314800.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fabric 2': 'Cotton', 'Fi...","{'5': '985', '4': '327', '3': '130', '2': '64'..."
1,2,T-Shirt,25072178.0,Stormborn,men-clothing,Men Graphic Printed Drop-Shoulder Sleeves Over...,4.2,4.9kRatings,₹599,MRP₹999,(40% OFF),"['S', 'M', 'L', 'XL', 'XXL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_25072178.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Pure Cotton', 'Fit': 'Oversized', ...","{'5': '2932', '4': '1025', '3': '366', '2': '1..."
2,3,T-Shirt,27226100.0,BULLMER,men-clothing,Tribal Printed Oversized Cotton T-shirt,3.8,5.2kRatings,₹389,MRP₹1499,(74% OFF),"['S', 'M', 'L', 'XL', 'XXL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_27226100.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...",{'Contact Brand or Retailer for pre-sales prod...,"{'5': '2603', '4': '937', '3': '498', '2': '29..."
3,4,T-Shirt,26858810.0,NOBERO,men-clothing,Graphic Printed Oversized T-shirt,4.3,1.1kRatings,₹413,MRP₹1799,(77% OFF),"['S', 'M', 'L', 'XL', 'XXL', '3XL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_26858810.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fit': 'Oversized', 'Leng...","{'5': '713', '4': '226', '3': '76', '2': '22',..."
4,5,T-Shirt,29350874.0,H&M,men-clothing,Men Pure Cotton Loose Fit Printed T-shirt,4.4,1kRatings,MRP₹ 799,MRP,NaN,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",T-shirt in midweight cotton jersey with a prin...,T-Shirt_men-clothing_29350874.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Pure Cotton', 'Fit': 'Relaxed Fit'...","{'5': '733', '4': '178', '3': '53', '2': '24',..."

In [36]:
df_18 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\T-Shirt\T-Shirt_dataset_2.csv')

In [37]:
df_18.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,T-Shirt,24314800.0,DAMENSCH,men-clothing,Solid Textured Polo T-Shirts,4.1,1.7kRatings,₹1199,MRP₹1499,(20% OFF),"['S', 'M', 'L', 'XL', 'XXL']",The model (height 6') is wearing a size M,T-Shirt_men-clothing_24314800.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fabric 2': 'Cotton', 'Fi...","{'5': '985', '4': '327', '3': '130', '2': '64'..."
1,2,T-Shirt,25072178.0,Stormborn,men-clothing,Men Graphic Printed Drop-Shoulder Sleeves Over...,4.2,4.9kRatings,₹599,MRP₹999,(40% OFF),"['S', 'M', 'L', 'XL', 'XXL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_25072178.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Pure Cotton', 'Fit': 'Oversized', ...","{'5': '2932', '4': '1025', '3': '366', '2': '1..."
2,3,T-Shirt,27226100.0,BULLMER,men-clothing,Tribal Printed Oversized Cotton T-shirt,3.8,5.2kRatings,₹389,MRP₹1499,(74% OFF),"['S', 'M', 'L', 'XL', 'XXL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_27226100.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...",{'Contact Brand or Retailer for pre-sales prod...,"{'5': '2603', '4': '937', '3': '498', '2': '29..."
3,4,T-Shirt,26858810.0,NOBERO,men-clothing,Graphic Printed Oversized T-shirt,4.3,1.1kRatings,₹413,MRP₹1799,(77% OFF),"['S', 'M', 'L', 'XL', 'XXL', '3XL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_26858810.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fit': 'Oversized', 'Leng...","{'5': '713', '4': '226', '3': '76', '2': '22',..."
4,5,T-Shirt,29350874.0,H&M,men-clothing,Men Pure Cotton Loose Fit Printed T-shirt,4.4,1kRatings,MRP₹ 799,MRP,NaN,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",T-shirt in midweight cotton jersey with a prin...,T-Shirt_men-clothing_29350874.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Pure Cotton', 'Fit': 'Relaxed Fit'...","{'5': '733', '4': '178', '3': '53', '2': '24',..."

In [38]:
df_19 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\T-Shirt\T-Shirt_dataset_3.csv')

In [39]:
df_19.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,T-Shirt,24314800.0,DAMENSCH,men-clothing,Solid Textured Polo T-Shirts,4.1,1.7kRatings,₹1199,MRP₹1499,(20% OFF),"['S', 'M', 'L', 'XL', 'XXL']",The model (height 6') is wearing a size M,T-Shirt_men-clothing_24314800.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fabric 2': 'Cotton', 'Fi...","{'5': '985', '4': '327', '3': '130', '2': '64'..."
1,2,T-Shirt,25072178.0,Stormborn,men-clothing,Men Graphic Printed Drop-Shoulder Sleeves Over...,4.2,4.9kRatings,₹599,MRP₹999,(40% OFF),"['S', 'M', 'L', 'XL', 'XXL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_25072178.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Pure Cotton', 'Fit': 'Oversized', ...","{'5': '2932', '4': '1025', '3': '366', '2': '1..."
2,3,T-Shirt,27226100.0,BULLMER,men-clothing,Tribal Printed Oversized Cotton T-shirt,3.8,5.2kRatings,₹389,MRP₹1499,(74% OFF),"['S', 'M', 'L', 'XL', 'XXL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_27226100.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...",{'Contact Brand or Retailer for pre-sales prod...,"{'5': '2603', '4': '937', '3': '498', '2': '29..."
3,4,T-Shirt,26858810.0,NOBERO,men-clothing,Graphic Printed Oversized T-shirt,4.3,1.1kRatings,₹413,MRP₹1799,(77% OFF),"['S', 'M', 'L', 'XL', 'XXL', '3XL']",OversizedThe model (height 6') is wearing a si...,T-Shirt_men-clothing_26858810.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Cotton', 'Fit': 'Oversized', 'Leng...","{'5': '713', '4': '226', '3': '76', '2': '22',..."
4,5,T-Shirt,29350874.0,H&M,men-clothing,Men Pure Cotton Loose Fit Printed T-shirt,4.4,1kRatings,MRP₹ 799,MRP,NaN,"['XS', 'S', 'M', 'L', 'XL', 'XXL']",T-shirt in midweight cotton jersey with a prin...,T-Shirt_men-clothing_29350874.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Fabric': 'Pure Cotton', 'Fit': 'Relaxed Fit'...","{'5': '733', '4': '178', '3': '53', '2': '24',..."

In [40]:
df_20 = pd.read_csv(r'C:\Users\DELL\Downloads\Trendix\Final Dataset\Women Office Wear\Women Office Wear_dataset.csv')

In [41]:
df_20.head()

,Serial_No,Fashion_type,Product_id,Brand_Name,category,Description,Rating,Rating_count,Price,MRP_Price,Discount,size,product_description,image_ref,file_path,image_url,Specifications,Rating_as_stars
0,1,Women Office Wear,24567752.0,CHIC BY TOKYO TALKIES,women-clothing,Women Straight Fit High-Rise Formal Trousers,4.1,3.9kRatings,₹489,MRP₹1749,(72% OFF),"['28', '30', '32', '34']",Fit: Straight FitThe model (height 5'8) is wea...,Women Office Wear_women-clothing_24567752.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'High-Rise', 'Length': 'Regular...","{'5': '2103', '4': '877', '3': '371', '2': '16..."
1,2,Women Office Wear,29793346.0,FITHUB,women-clothing,Cuban Collar Cuffed Sleeves Shirt Style Formal...,4.3,2.9kRatings,₹759,MRP₹1999,(62% OFF),"['S', 'M', 'L', 'XL', 'XXL', '3XL', '4XL']",The model (height 5'8) is wearing a size S,Women Office Wear_women-clothing_29793346.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Neck': 'Cub...","{'5': '1911', '4': '521', '3': '178', '2': '80..."
2,3,Women Office Wear,23960226.0,Chemistry,women-clothing,Women Relaxed Opaque Striped Formal Shirt,4.4,1.4kRatings,₹662,MRP₹1699,(61% OFF),"['XS', 'S', 'M', 'L', 'XL']","Brown vertical striped opaque Casual shirt ,ha...",Women Office Wear_women-clothing_23960226.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Short Sleeves', 'Collar': '...","{'5': '879', '4': '290', '3': '100', '2': '30'..."
3,4,Women Office Wear,27985712.0,FITHUB,women-clothing,Shirt Style Top,4.3,2.9kRatings,₹759,MRP₹1999,(62% OFF),"['S', 'M', 'L', 'XL', 'XXL', '3XL', '4XL']",The model (height 5'8) is wearing a size S,Women Office Wear_women-clothing_27985712.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Sleeve Length': 'Long Sleeves', 'Neck': 'Shi...","{'5': '1912', '4': '521', '3': '179', '2': '80..."
4,5,Women Office Wear,30660808.0,FNOCKS,women-clothing,Women Solid Tailored High-Rise Regular Trousers,3.2,49Ratings,₹989,MRP₹2999,(67% OFF),"['26', '28', '30', '32', '34', '36']",Brand Fit: TailoredFit: Regular FitThe model (...,Women Office Wear_women-clothing_30660808.jpg,C:/Users/DELL/OneDrive/Desktop/AI & DATA SCIEN...,"https://assets.myntassets.com/h_720,q_90,w_540...","{'Waist Rise': 'High-Rise', 'Length': 'Regular...","{'5': '17', '4': '10', '3': '2', '2': '4', '1'..."

In [42]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1050 non-null   int64
 1   Fashion_type         1050 non-null   object
 2   Product_id           1050 non-null   int64
 3   Brand_Name           1050 non-null   object
 4   category             1050 non-null   object
 5   Description          1050 non-null   object
 6   Rating               1050 non-null   float64
 7   Rating_count         1050 non-null   object
 8   Price                1050 non-null   object
 9   MRP_Price            1050 non-null   object
 10  Discount             913 non-null    object
 11  size                 911 non-null    object
 12  product_description  1050 non-null   object
 13  image_ref            1050 non-null   object
 14  file_path            1050 non-null   object
 15  image_url            1050 non-null   object
 16  Specifications       1050 non-null   object
 17  Rating_as_stars      681 non-null    object
dtypes: float64(1), int64(2), object(15)
memory usage: 147.8+ KB

In [43]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 650 entries, 0 to 649
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            650 non-null    int64
 1   Fashion_type         650 non-null    object
 2   Product_id           648 non-null    float64
 3   Brand_Name           648 non-null    object
 4   category             648 non-null    object
 5   Description          648 non-null    object
 6   Rating               650 non-null    float64
 7   Rating_count         650 non-null    object
 8   Price                650 non-null    object
 9   MRP_Price            650 non-null    object
 10  Discount             614 non-null    object
 11  size                 517 non-null    object
 12  product_description  648 non-null    object
 13  image_ref            648 non-null    object
 14  file_path            648 non-null    object
 15  image_url            648 non-null    object
 16  Specifications       648 non-null    object
 17  Rating_as_stars      559 non-null    object
dtypes: float64(2), int64(1), object(15)
memory usage: 91.5+ KB

In [44]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1898 non-null   int64
 1   Fashion_type         1898 non-null   object
 2   Product_id           1894 non-null   float64
 3   Brand_Name           1894 non-null   object
 4   category             1894 non-null   object
 5   Description          1893 non-null   object
 6   Rating               1394 non-null   float64
 7   Rating_count         1394 non-null   object
 8   Price                1893 non-null   object
 9   MRP_Price            1893 non-null   object
 10  Discount             1695 non-null   object
 11  size                 1777 non-null   object
 12  product_description  1893 non-null   object
 13  image_ref            1893 non-null   object
 14  file_path            1893 non-null   object
 15  image_url            1893 non-null   object
 16  Specifications       1893 non-null   object
 17  Rating_as_stars      1394 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 267.0+ KB

In [45]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1050 non-null   int64
 1   Fashion_type         1050 non-null   object
 2   Product_id           1049 non-null   float64
 3   Brand_Name           1049 non-null   object
 4   category             1049 non-null   object
 5   Description          1049 non-null   object
 6   Rating               1050 non-null   float64
 7   Rating_count         1050 non-null   object
 8   Price                1050 non-null   object
 9   MRP_Price            1050 non-null   object
 10  Discount             896 non-null    object
 11  size                 938 non-null    object
 12  product_description  1049 non-null   object
 13  image_ref            1049 non-null   object
 14  file_path            1049 non-null   object
 15  image_url            1049 non-null   object
 16  Specifications       1049 non-null   object
 17  Rating_as_stars      919 non-null    object
dtypes: float64(2), int64(1), object(15)
memory usage: 147.8+ KB

In [46]:
df_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1898 entries, 0 to 1897
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1898 non-null   int64
 1   Fashion_type         1898 non-null   object
 2   Product_id           1894 non-null   float64
 3   Brand_Name           1894 non-null   object
 4   category             1894 non-null   object
 5   Description          1893 non-null   object
 6   Rating               1394 non-null   float64
 7   Rating_count         1394 non-null   object
 8   Price                1893 non-null   object
 9   MRP_Price            1893 non-null   object
 10  Discount             1695 non-null   object
 11  size                 1777 non-null   object
 12  product_description  1893 non-null   object
 13  image_ref            1893 non-null   object
 14  file_path            1893 non-null   object
 15  image_url            1893 non-null   object
 16  Specifications       1893 non-null   object
 17  Rating_as_stars      1394 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 267.0+ KB

In [47]:
df_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            500 non-null    int64
 1   Fashion_type         500 non-null    object
 2   Product_id           500 non-null    int64
 3   Brand_Name           500 non-null    object
 4   category             500 non-null    object
 5   Description          500 non-null    object
 6   Rating               500 non-null    float64
 7   Rating_count         500 non-null    object
 8   Price                500 non-null    object
 9   MRP_Price            500 non-null    object
 10  Discount             459 non-null    object
 11  size                 387 non-null    object
 12  product_description  500 non-null    object
 13  image_ref            500 non-null    object
 14  file_path            500 non-null    object
 15  image_url            500 non-null    object
 16  Specifications       500 non-null    object
 17  Rating_as_stars      473 non-null    object
dtypes: float64(1), int64(2), object(15)
memory usage: 70.4+ KB

In [48]:
df_7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1050 non-null   int64
 1   Fashion_type         1050 non-null   object
 2   Product_id           1050 non-null   int64
 3   Brand_Name           1050 non-null   object
 4   category             1050 non-null   object
 5   Description          1050 non-null   object
 6   Rating               1002 non-null   float64
 7   Rating_count         1002 non-null   object
 8   Price                1050 non-null   object
 9   MRP_Price            1050 non-null   object
 10  Discount             1022 non-null   object
 11  size                 994 non-null    object
 12  product_description  1050 non-null   object
 13  image_ref            1050 non-null   object
 14  file_path            1050 non-null   object
 15  image_url            1050 non-null   object
 16  Specifications       1050 non-null   object
 17  Rating_as_stars      1002 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 147.8+ KB

In [49]:
df_8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049 entries, 0 to 1048
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1049 non-null   int64
 1   Fashion_type         1049 non-null   object
 2   Product_id           1045 non-null   float64
 3   Brand_Name           1045 non-null   object
 4   category             1045 non-null   object
 5   Description          1045 non-null   object
 6   Rating               1049 non-null   float64
 7   Rating_count         1049 non-null   object
 8   Price                1049 non-null   object
 9   MRP_Price            1049 non-null   object
 10  Discount             920 non-null    object
 11  size                 853 non-null    object
 12  product_description  1045 non-null   object
 13  image_ref            1045 non-null   object
 14  file_path            1045 non-null   object
 15  image_url            1045 non-null   object
 16  Specifications       1045 non-null   object
 17  Rating_as_stars      845 non-null    object
dtypes: float64(2), int64(1), object(15)
memory usage: 147.6+ KB

In [50]:
df_9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            2000 non-null   int64
 1   Fashion_type         2000 non-null   object
 2   Product_id           1995 non-null   float64
 3   Brand_Name           1995 non-null   object
 4   category             1995 non-null   object
 5   Description          1995 non-null   object
 6   Rating               2000 non-null   float64
 7   Rating_count         2000 non-null   object
 8   Price                2000 non-null   object
 9   MRP_Price            2000 non-null   object
 10  Discount             1711 non-null   object
 11  size                 1724 non-null   object
 12  product_description  1986 non-null   object
 13  image_ref            1995 non-null   object
 14  file_path            1995 non-null   object
 15  image_url            1995 non-null   object
 16  Specifications       1995 non-null   object
 17  Rating_as_stars      1557 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 281.4+ KB

In [51]:
df_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            500 non-null    int64
 1   Fashion_type         500 non-null    object
 2   Product_id           500 non-null    int64
 3   Brand_Name           500 non-null    object
 4   category             500 non-null    object
 5   Description          500 non-null    object
 6   Rating               500 non-null    float64
 7   Rating_count         500 non-null    object
 8   Price                500 non-null    object
 9   MRP_Price            500 non-null    object
 10  Discount             447 non-null    object
 11  size                 439 non-null    object
 12  product_description  498 non-null    object
 13  image_ref            500 non-null    object
 14  file_path            500 non-null    object
 15  image_url            500 non-null    object
 16  Specifications       500 non-null    object
 17  Rating_as_stars      421 non-null    object
dtypes: float64(1), int64(2), object(15)
memory usage: 70.4+ KB

In [52]:
df_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1500 non-null   int64
 1   Fashion_type         1500 non-null   object
 2   Product_id           1500 non-null   int64
 3   Brand_Name           1500 non-null   object
 4   category             1500 non-null   object
 5   Description          1500 non-null   object
 6   Rating               1446 non-null   float64
 7   Rating_count         1446 non-null   object
 8   Price                1500 non-null   object
 9   MRP_Price            1500 non-null   object
 10  Discount             1490 non-null   object
 11  size                 1433 non-null   object
 12  product_description  1500 non-null   object
 13  image_ref            1500 non-null   object
 14  file_path            1500 non-null   object
 15  image_url            1500 non-null   object
 16  Specifications       1500 non-null   object
 17  Rating_as_stars      1446 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 211.1+ KB

In [53]:
df_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1662 entries, 0 to 1661
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1662 non-null   int64
 1   Fashion_type         1662 non-null   object
 2   Product_id           1662 non-null   int64
 3   Brand_Name           1662 non-null   object
 4   category             1662 non-null   object
 5   Description          1662 non-null   object
 6   Rating               1136 non-null   float64
 7   Rating_count         1136 non-null   object
 8   Price                1662 non-null   object
 9   MRP_Price            1662 non-null   object
 10  Discount             1458 non-null   object
 11  size                 1457 non-null   object
 12  product_description  1662 non-null   object
 13  image_ref            1662 non-null   object
 14  file_path            1662 non-null   object
 15  image_url            1662 non-null   object
 16  Specifications       1662 non-null   object
 17  Rating_as_stars      1136 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 233.8+ KB

In [54]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            10 non-null     int64
 1   Fashion_type         10 non-null     object
 2   Product_id           10 non-null     int64
 3   Brand_Name           10 non-null     object
 4   category             10 non-null     object
 5   Description          10 non-null     object
 6   Rating               10 non-null     float64
 7   Rating_count         10 non-null     object
 8   Price                10 non-null     object
 9   MRP_Price            10 non-null     object
 10  Discount             1 non-null      object
 11  size                 10 non-null     object
 12  product_description  10 non-null     object
 13  image_ref            10 non-null     object
 14  file_path            10 non-null     object
 15  image_url            10 non-null     object
 16  Specifications       10 non-null     object
 17  Rating_as_stars      10 non-null     object
dtypes: float64(1), int64(2), object(15)
memory usage: 1.5+ KB

In [55]:
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1050 non-null   int64
 1   Fashion_type         1050 non-null   object
 2   Product_id           1050 non-null   int64
 3   Brand_Name           1050 non-null   object
 4   category             1050 non-null   object
 5   Description          1050 non-null   object
 6   Rating               1050 non-null   float64
 7   Rating_count         1050 non-null   object
 8   Price                1050 non-null   object
 9   MRP_Price            1050 non-null   object
 10  Discount             948 non-null    object
 11  size                 838 non-null    object
 12  product_description  1050 non-null   object
 13  image_ref            1050 non-null   object
 14  file_path            1050 non-null   object
 15  image_url            1050 non-null   object
 16  Specifications       1050 non-null   object
 17  Rating_as_stars      892 non-null    object
dtypes: float64(1), int64(2), object(15)
memory usage: 147.8+ KB

In [56]:
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            500 non-null    int64
 1   Fashion_type         500 non-null    object
 2   Product_id           500 non-null    int64
 3   Brand_Name           500 non-null    object
 4   category             500 non-null    object
 5   Description          500 non-null    object
 6   Rating               500 non-null    float64
 7   Rating_count         500 non-null    object
 8   Price                500 non-null    object
 9   MRP_Price            500 non-null    object
 10  Discount             431 non-null    object
 11  size                 453 non-null    object
 12  product_description  500 non-null    object
 13  image_ref            500 non-null    object
 14  file_path            500 non-null    object
 15  image_url            500 non-null    object
 16  Specifications       500 non-null    object
 17  Rating_as_stars      461 non-null    object
dtypes: float64(1), int64(2), object(15)
memory usage: 70.4+ KB

In [57]:
df_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1999 non-null   int64
 1   Fashion_type         1999 non-null   object
 2   Product_id           1995 non-null   float64
 3   Brand_Name           1995 non-null   object
 4   category             1995 non-null   object
 5   Description          1995 non-null   object
 6   Rating               1861 non-null   float64
 7   Rating_count         1861 non-null   object
 8   Price                1995 non-null   object
 9   MRP_Price            1995 non-null   object
 10  Discount             1671 non-null   object
 11  size                 1713 non-null   object
 12  product_description  1995 non-null   object
 13  image_ref            1995 non-null   object
 14  file_path            1995 non-null   object
 15  image_url            1995 non-null   object
 16  Specifications       1993 non-null   object
 17  Rating_as_stars      1760 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 281.2+ KB

In [58]:
df_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1087 entries, 0 to 1086
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1087 non-null   int64
 1   Fashion_type         1087 non-null   object
 2   Product_id           1086 non-null   float64
 3   Brand_Name           1086 non-null   object
 4   category             1086 non-null   object
 5   Description          1086 non-null   object
 6   Rating               1086 non-null   float64
 7   Rating_count         1086 non-null   object
 8   Price                1086 non-null   object
 9   MRP_Price            1086 non-null   object
 10  Discount             922 non-null    object
 11  size                 954 non-null    object
 12  product_description  1086 non-null   object
 13  image_ref            1086 non-null   object
 14  file_path            1086 non-null   object
 15  image_url            1086 non-null   object
 16  Specifications       1084 non-null   object
 17  Rating_as_stars      985 non-null    object
dtypes: float64(2), int64(1), object(15)
memory usage: 153.0+ KB

In [59]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1861 entries, 0 to 1860
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1861 non-null   int64
 1   Fashion_type         1861 non-null   object
 2   Product_id           1859 non-null   float64
 3   Brand_Name           1859 non-null   object
 4   category             1859 non-null   object
 5   Description          1859 non-null   object
 6   Rating               1743 non-null   float64
 7   Rating_count         1743 non-null   object
 8   Price                1859 non-null   object
 9   MRP_Price            1859 non-null   object
 10  Discount             1556 non-null   object
 11  size                 1600 non-null   object
 12  product_description  1859 non-null   object
 13  image_ref            1859 non-null   object
 14  file_path            1859 non-null   object
 15  image_url            1859 non-null   object
 16  Specifications       1857 non-null   object
 17  Rating_as_stars      1642 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 261.8+ KB

In [60]:
df_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1866 entries, 0 to 1865
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            1866 non-null   int64
 1   Fashion_type         1866 non-null   object
 2   Product_id           1862 non-null   float64
 3   Brand_Name           1862 non-null   object
 4   category             1862 non-null   object
 5   Description          1862 non-null   object
 6   Rating               1746 non-null   float64
 7   Rating_count         1746 non-null   object
 8   Price                1862 non-null   object
 9   MRP_Price            1862 non-null   object
 10  Discount             1558 non-null   object
 11  size                 1601 non-null   object
 12  product_description  1862 non-null   object
 13  image_ref            1862 non-null   object
 14  file_path            1862 non-null   object
 15  image_url            1862 non-null   object
 16  Specifications       1860 non-null   object
 17  Rating_as_stars      1645 non-null   object
dtypes: float64(2), int64(1), object(15)
memory usage: 262.5+ KB

In [61]:
df_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998 entries, 0 to 997
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            998 non-null    int64
 1   Fashion_type         998 non-null    object
 2   Product_id           995 non-null    float64
 3   Brand_Name           995 non-null    object
 4   category             995 non-null    object
 5   Description          995 non-null    object
 6   Rating               780 non-null    float64
 7   Rating_count         780 non-null    object
 8   Price                995 non-null    object
 9   MRP_Price            995 non-null    object
 10  Discount             876 non-null    object
 11  size                 943 non-null    object
 12  product_description  994 non-null    object
 13  image_ref            995 non-null    object
 14  file_path            995 non-null    object
 15  image_url            995 non-null    object
 16  Specifications       995 non-null    object
 17  Rating_as_stars      780 non-null    object
dtypes: float64(2), int64(1), object(15)
memory usage: 140.5+ KB

In [62]:
combined_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17, df_18, df_19, df_20], axis=0, ignore_index=True)

In [63]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24178 entries, 0 to 24177
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Serial_No            24178 non-null  int64
 1   Fashion_type         24178 non-null  object
 2   Product_id           24144 non-null  float64
 3   Brand_Name           24144 non-null  object
 4   category             24144 non-null  object
 5   Description          24142 non-null  object
 6   Rating               21947 non-null  float64
 7   Rating_count         21947 non-null  object
 8   Price                24154 non-null  object
 9   MRP_Price            24154 non-null  object
 10  Discount             21283 non-null  object
 11  size                 21319 non-null  object
 12  product_description  24130 non-null  object
 13  image_ref            24142 non-null  object
 14  file_path            24142 non-null  object
 15  image_url            24142 non-null  object
 16  Specifications       24134 non-null  object
 17  Rating_as_stars      20002 non-null  object
dtypes: float64(2), int64(1), object(15)
memory usage: 3.3+ MB

In [65]:
csv_file_path = f'C:/Users/DELL/Downloads/Trendix/Final Dataset/Trendix_Dataset.csv' 

combined_df.to_csv(csv_file_path, index=False)